/* ABOUT */
#about{
    box-sizing: border-box;
    background-color: #333333;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .container{
        
        width: 80%;
        margin: auto;
        display: flex;
        border: 2px white solid;
        .about-txt{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            padding: 2em;
            h3{
                font-size: 35px;
            }
            p{
                font-size: 20px;
            }
        }
        .about-img{
            width: 50%;
            img{
               width: 100%;
            }
        }
    }
}